.media.session_preview
	.session_preview_icon
		%span.helper
			.fa{ :class => "fa-#{icon}"}
	.counselor_favorite_wrapper
		= link_to favorite_counselors_path(:counselor => session.counselor), :method => :post, :class => ("favorited" if current_user and current_user.favorite_counselors.where(:counselor_id => session.counselor.id)) do
			.fa.fa-heart
	.media-left.media-middle
		%a{:href => "#"}
			-if session.counselor.user.photo.present?
				= image_tag "default-avatar.png", :class => "counselor_image media-object session_preview_img"
			-else
				= image_tag session.counselor.user.photo, :class => "counselor_image media-object session_preview_img"
	.media-body
		= link_to counseling_session_path(session) do
			%h3.counselor_name.session_preview_counselor_title
				= session.counselor.user.name
			
		.counselor_pubic_rating_wrapper
			%input.star{:name => "counselor_star_#{session.id}", :type => "radio", :disabled => :disabled}
			%input.star{:name => "counselor_star_#{session.id}", :type => "radio", :disabled => :disabled}
			%input.star{:name => "counselor_star_#{session.id}", :type => "radio", :disabled => :disabled}
			%input.star{:name => "counselor_star_#{session.id}", :type => "radio", :disabled => :disabled}
			%input.star{:name => "counselor_star_#{session.id}", :type => "radio", :disabled => :disabled}
			.counselor_ratings_total.text-muted
				(#{session.counselor.ratings.count})

			%br
			= session.start_datetime.strftime("%B %e, %Y at %l:%M%P")

:javascript
	$('.star:nth-child(#{session.counselor.public_rating})').attr("checked", "checked");