.media.session_preview
	.session_preview_icon
		%span.helper
			.fa{ :class => "fa-#{icon}"}
	.media-left.media-middle
		= link_to counselor_path(session.counselor) do
			-if session.counselor.photo.present?
				= image_tag "default-avatar.png", :class => "counselor_image media-object session_preview_img"
			-else
				= image_tag "default-avatar.png", :class => "counselor_image media-object session_preview_img"
	.media-body
		= link_to counselor_path(session.counselor) do
			%h3.counselor_name.session_preview_counselor_title
				= session.counselor.user.name
			
		.small
			= render "shared/counselors/public_rating", :counselor => session.counselor

		%ul.list-inline
			%li
				= session.start_datetime.strftime("%B %e, %Y at %l:%M%P")
			%li.hidden-xs.nopading
				•
			%li
				= session.estimate_duration_in_minutes
				minutes

		%ul.list-inline
			- if session.is_enterable
				%li
					.enter_counseling_session_wrapper
						= link_to "Enter Session", counseling_session_path(session), :class => "btn btn-primary btn-sm"
			- if session.is_cancellable
				%li
					.cancel_counseling_session_wrapper.text-danger.small.hidden-default
						= link_to cancel_counseling_session_path(session), "data-confirm" => 'Are you sure you want to cancel this session? If you are canceling within 24 hours of your session, you will still be charged the full session price. This cannot be undone.', :class => "text-danger" do
							.fa.fa-close
							Cancel Session
	.counselor_favorite_wrapper
		- if session.counselor.is_user_favorite(current_user.id) == true
			= link_to favorite_counselor_path(current_user.favorite_counselors.where(:counselor_id => session.counselor.id).first), :method => :delete do
				%span.favorited
					.fa.fa-heart
		- else
			= link_to favorite_counselors_path(:counselor => session.counselor), :method => :post do
				%span
					.fa.fa-heart

:javascript
	$('.star:nth-child(#{session.counselor.public_rating})').attr("checked", "checked");