.container
	.row
		.col-sm-6
			%h1 Dashboard
		.col-sm-6
			- if current_user.counselor.present?
				.pull-right
					%span
						Counselor Options:
					= link_to "View Public Profile", counselor_path(current_user.counselor), :class => "btn btn-link"
					= link_to "Edit Availability", availability_counselor_path(current_user.counselor), :class => "btn btn-link"

	.row
		.col-md-6
			%h3
				Upcoming Sessions
			%table.table
				- current_user.upcoming_sessions.each do |session|
					%tr
						%td
							= link_to counseling_session_path(session) do
								= session.counselor.user.name
								= session.start_datetime.strftime("%B %e, %Y at %l:%M%P")
		.col-md-6
			%h3
				Session History
