= simple_form_for(@counseling_session) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      = f.input :start_datetime
    .form-group
      = f.input :estimate_duration_in_minutes, :input_html  => { :class => "form-control" }
    .form-group
      = f.input :actual_duration_in_minutes, :input_html  => { :class => "form-control" }

  .form-actions
    = f.button :submit, :class => "btn btn-primary btn-lg"
