- @modal_target_id = "#{@counselor.slug}-#{dts.to_s.parameterize}"

%h3
  = (dts).strftime("%B %e, %Y")

.row.counselor_availability_day_wrapper
  - if (dts > (Time.zone.now + @counselor.advanced_scheduling_in_weeks.weeks)) # First make sure the dts is within range of when scheduling can take place with a counselor
    %p.text-center
      Sorry, this is too far in advance to schedule a session.
      %br
      %em
        #{(dts).strftime("%B %e, %Y")}
  - elsif @counselor.availability_by_dts(dts).count > 0 # Then make sure the counselor has availabilities on dts
    - @counselor.availability_by_dts(dts).each do |interval|
      .col-xs-6.col-sm-3.availability_time_button_wrapper
        - if interval > 30.minutes.from_now
          .btn.btn-primary.btn-block.counselor-time-button{:data => { :toggle => "modal", :target => "##{@modal_target_id}", :time => "#{time_as_local(interval)}", :available => "#{@counselor.availability_by_dts(@dts).include?(interval + 30.minutes)}", :session_rate => "#{@counselor.session_rate_in_dollars}"}}
            = time_as_local(interval)
            
  - else # Otherwise, there aren't any openings
    %p.text-center
      Sorry, there are no openings for
      %br
      %em
        #{(dts).strftime("%B %e, %Y")}

= render partial: "shared/counselors/modal_scheduler", locals: {counselor: @counselor, target_id: @modal_target_id, dts: dts}
