.container-fluid
  = simple_form_for(@counselor) do |f|
    = f.error_notification

    .form-inputs
      = f.input :bio
      = f.input :photo
      = f.input :profession_start_date
      = f.input :hourly_rate_in_cents
      = f.input :hourly_fee_in_cents
      = f.input :send_session_sms_alerts
      = f.input :send_session_email_alerts

    .form-actions
      = f.button :submit
