.container-fluid
  = simple_form_for(@counselor) do |f|
    = f.error_notification

    .form-inputs
      = f.input :bio, input_html: { :class => "form-control" }
      = f.input :profession_start_date, as: :string, input_html: { :class => "form-control datepicker" }

      = f.association :specialties, input_html: { :class => "form-control" }
      / = f.input :hourly_rate_in_cents
      / = f.input :hourly_fee_in_cents
      = f.input :send_session_sms_alerts, input_html: { :class => "form-control boolean-switch" }
      = f.input :send_session_email_alerts, input_html: { :class => "form-control boolean-switch" }

    .form-actions
      = f.submit "Update Profile", :class => "btn btn-primary"
