= simple_form_for(@counselor) do |f|
  = f.error_notification

  - if current_user.is_admin?
    .form-admin-options
      .form-title
        Admin Options
        %span.small
          (Only visible to admin users)
      .row
        .col-sm-6
          = f.label :hourly_rate_in_cents, :label => "Hourly Rate"
          .input-group
            = f.input :hourly_rate_in_cents, input_html: { :class => "form-control" }, :label => false
            %span.input-group-addon
              cents
        .col-sm-6
          = f.label :hourly_fee_in_cents, :label => "Hourly Fee"
          .input-group
            = f.input :hourly_fee_in_cents, input_html: { :class => "form-control" }, :label => false
            %span.input-group-addon
              cents
  .form-inputs
    .form-group
      = f.label :bio, :label => "Biography"
      = f.input :bio, :placeholder => "Biography", input_html: { :class => "form-control" }, :label => false
    .form-group
      = f.input :profession_start_date, :label => "Profession Start Date", as: :string, input_html: { :class => "form-control datepicker" }
    .form-group
      = f.input :photo, :label => "Profile Photo", input_html: { :class => "form-control" }

    .form-group
      = f.association :specialties, as: :check_boxes

    %hr

    .row
      .col-md-6
        .form-group
          = f.label :send_session_sms_alerts, :label => "Send Session Text Alerts"
          = f.input :send_session_sms_alerts, input_html: { :class => "boolean-switch" }, :label => false
      .col-md-6
        .form-group
          = f.label :send_session_email_alerts, :label => "Send Session Email Alerts"
          = f.input :send_session_email_alerts, input_html: { :class => "boolean-switch" }, :label => false

    %hr
    
  .form-actions
    = f.submit "Update Profile", :class => "btn btn-primary btn-block btn-lg"
