- if @counselorsArr.length > 0 and @counselorsArr[0]['date'].present?
  - newDate = @counselorsArr[0]['date']
- else
  - newDate = @dts;

.container
  .row.search_row
    .col-md-9
      %h4.search_results_overview
        %em
          - if newDate.strftime("%B %e, %Y") == @dts.strftime("%B %e, %Y") or !params[:datetime].present?
            #{pluralize(@totalCount, "Professional")}
            - if @specialty.present? and !params[:counselor_name].present?
              specializing in
              %em
                = @specialty.name
            - else
              Available

            - if newDate.present?
              on
              = newDate.strftime("%B %e, %Y")
          - elsif params[:datetime].present?
            = "We're sorry. There are currently no Professionals "
            - if !params[:counselor_name].present?
              ="for #{@specialty.name} "
            = "available on #{@dts.strftime("%B %e, %Y")}. How about selecting from one of these upcoming dates instead?"
    .col-md-3
      .col-filter
        =  select_tag :sort, options_for_select([ ["Upcoming Availability","availability"], ["Newest First","newest"], ["Rating (High-Low)","popularity"], ["Fee (Low-High)","low-fee"], ["Fee (High-Low)","high-fee"] ], @sortby), :class => "form-control", :label => false, :include_blank => false, :onchange => "sortCounselors(this);"

  - iterator = 0
  - if @counselorsArr.length > 0
    - @counselorsArr.each do |counselors|
      - counselorArr = []
      - cDate = counselors['date']
      - counselorArr = counselors['counselors']
      .repeatCounselors
        .dateSeparator
          = cDate.strftime("%B %e, %Y")
        %hr
        - i = 0
        - counselorArr.each do |counselor|
          - itemCounselor = counselor
          - if i > 2
            - cls = 'hideSec'
            - if i == counselorArr.length-1
              .view_more{:class => "viewMore viewMore#{iterator}"} 
                %a{:onclick=>"viewMoreResult('#{iterator}')"} View More
              
          - else
            - cls = ''
          .insideSection{:class=>"#{cls} insideSec#{iterator}"}
            = render partial: "shared/counselors/preview_with_schedule", locals: {counselor: itemCounselor, dates: cDate, iterator: iterator}
            - if i > 2 and i == counselorArr.length-1
              .view_more.hideSec{:class=> "insideSec#{iterator}"} 
                %a{:onclick=>"viewLessResult('#{iterator}')"} View Less
          - i += 1
        - iterator += 1
    = hidden_field_tag "resultCount", @counselorsArr[0]["counselors"].length
    / = will_paginate @counseling_sessions, previous_label: h("<"), next_label: h(">")
  - else
    .text-center
      There are no counselors matching these parameters.
      %br
      Please adjust your search and try again.
= hidden_field_tag "totalCount", @totalCount
= hidden_field_tag "url", getCounselors_counselors_path

:javascript
  $('#counselor_search').show()
  function sortCounselors(ele){
    $("#sortby").val($(ele).val());
    $('#datetime').attr('name','datetime')
    $('#hdnname').attr('name','counselor_name')
    $("#sortby").parents('form').submit();
  }

  function viewMoreResult(cnt){
    
    $('.hideSec').hide();
    $('.viewMore').show();
    $('.viewMore'+cnt).hide();
    $('.insideSec'+cnt).show('800');
  }

  function viewLessResult(cnt){
    
    $('.viewMore'+cnt).show();
    $('.hideSec.insideSec'+cnt).hide('800');
  }


  $(document).scroll(function(){
    var totalCount = $("#totalCount").val();
    var resultCount = $("#resultCount").val();
    if(totalCount > resultCount){
      var limit = 2;
      if(parseInt(totalCount) == parseInt(resultCount)+1){
        limit = 1;
      }
      loadResultAjax(resultCount,limit);
    }
  });
  
  function loadResultAjax(resultCount,limit){
    var specialty = $("#specialty").val();
    var gender = $("#gender").val();
    var sortby = $("#sort").val();
    var counselor_name = $("#hdnname").val();
    $.ajax({
      type: 'post',
      url: $("#url").val(),
      async: false,
      data: {'specialty':specialty, 'gender':gender, 'sortby': sortby,'counselor_name':counselor_name, 'offset':resultCount, 'limit':limit},
      success: function(response){
        $('.repeatCounselors').append(response);
        $("#resultCount").val(parseInt(resultCount)+parseInt(limit));
        $(".counselor-time-button").click(function(){
          session_rate        = parseFloat($(this).attr("data-session-rate"));
          is_hourly_available = $(this).attr("data-available");
          time                = $(this).attr("data-time");

          $(".duration_select").find("option").each(function(){
            $(this).attr("data-session-rate", session_rate);
          });

          $(".duration_select").val("30");
          $(".duration_select").attr("data-session-rate", session_rate);

          $(".duration_select").change();
          
          $(".selected_time").val(time).change();

          if (is_hourly_available == "false"){
            $('.duration_select option[value="60"]').hide();
          }
        });

        $(".selected_time").change(function(){
          parent              = $(this).parent(".new_counseling_session");
          selected_time       = $("option:selected", this);
          is_hourly_available = selected_time.attr("data-available");
          session_rate        = parseFloat($(this).attr("data-session-rate"));

          if (is_hourly_available == "false"){
            $(".duration_select").val("30");
            $(".duration_select option[value='60']").hide();
          }else{
            $(".duration_select").val("30");
            $(".duration_select option[value='60']").show();
          }
          
          parent.find(".duration_select").change();
        });

        $(".duration_select").change(function(){
          devider = $(this).find("option:selected").val()/30;
          session_rate        = parseFloat($(this).attr('data-session-rate')*devider);
          update_session_cost(session_rate);
        });
      }
    });
  }