.container

  %h4.search_results_overview
    %em
      #{pluralize(@counselors.length, "Professional")}
      - if @specialty.present?
        specializing in
        %em
          = @specialty.name
      - else
        Available

      - if @dts.present?
        on
        = @dts.strftime("%B %e, %Y")

  %hr
  
  - if @counselors.length > 0
    - @counselors.each do |counselor|
      = render partial: "shared/counselors/preview_with_schedule", locals: {counselor: counselor}
  - else
    .text-center
      There are no counselors matching these parameters.
      %br
      Please adjust your search and try again.

  = will_paginate @counseling_sessions, previous_label: h("<"), next_label: h(">")

:javascript
  $('#counselor_search').show()