/ edited by: Vivek
- counselorArr = []
- if @counselors.length > 0 && @sortby == "availability"
  - x = 0
  - y = 10
  - @counselors.each do |counselor|
    - if counselor.availability_by_dts(@dts).present?
      - availabilities   = counselor.availability_by_dts(@dts)
      - first = availabilities.first(1)[0].strftime("%H:%M")
      - counselorArr[x] = {}
      - counselorArr[x]['counselor'] = counselor
      - counselorArr[x]['first'] = first
      - y -= 1
      - x += 1
  - counselorArr.sort!{|a,b| a['first'] <=> b['first']}
- else
  - counselorArr = @counselors

- if params[:datetime].present?
  - newDate = Date.strptime("#{params[:datetime]}", "%m/%d/%Y")
- else
  - newDate = @dts;
/ end
.container
  .row.search_row
    .col-md-9
      %h4.search_results_overview
        %em
          - if newDate == @dts
            #{pluralize(@counselors.length, "Professional")}
            - if @specialty.present? and !params[:counselor_name].present?
              specializing in
              %em
                = @specialty.name
            - else
              Available

            - if @dts.present?
              on
              = @dts.strftime("%B %e, %Y")
          - else
            = "We're sorry. There are currently no Professionals "
            - if !params[:counselor_name].present?
              ="for #{@specialty.name} "
            = "available on #{newDate.strftime("%B %e, %Y")}. How about selecting from #{@dts.strftime("%B %e, %Y")} instead?"
    .col-md-3
      .col-filter
        =  select_tag :specialty, options_for_select([ ["Upcoming Availability","availability"], ["Newest First","newest"], ["Rating (High-Low)","popularity"], ["Fee (Low-High)","low-fee"], ["Fee (High-Low)","high-fee"] ], @sortby), :class => "form-control", :label => false, :include_blank => false, :onchange => "sortCounselors(this);"

  %hr
  - if @counselors.length > 0
    - counselorArr.each do |counselor|
      - if @sortby == "availability"
        - itemCounselor = counselor['counselor']
      - else
        - itemCounselor = counselor

      = render partial: "shared/counselors/preview_with_schedule", locals: {counselor: itemCounselor, dates: @dts}
  - else
    .text-center
      There are no counselors matching these parameters.
      %br
      Please adjust your search and try again.

  = will_paginate @counseling_sessions, previous_label: h("<"), next_label: h(">")

:javascript
  $('#counselor_search').show()
  function sortCounselors(ele){
    $("#sortby").val($(ele).val());
    $('#datetime').attr('name','datetime')
    $('#hdnname').attr('name','counselor_name')
    $("#sortby").parents('form').submit();
  }
