.container

  %h4.search_results_overview
    %em
      #{pluralize(@counselors.count, "Professional")}
      - if @specialty.present?
        specializing in
        %em
          = @specialty.name
      - else
        Available

      - if @dts.present?
        on
        = @dts.strftime("%B %e, %Y")
  
  - @counselors.each do |counselor|
    = render partial: "shared/counselors/preview_with_schedule", locals: {counselor: counselor}

    = render partial: "shared/counselors/modal_scheduler", locals: {counselor: counselor}

:javascript
  $('#counselor_search').show()