%h1 Counselors

%table
  %thead
    %tr
      %th Bio
      %th Photo
      %th Profession start date
      %th User
      %th Hourly rate in cents
      %th
      
  %tbody
    - @counselors.each do |counselor|
      %tr
        %td= counselor.bio
        %td= counselor.photo
        %td= counselor.profession_start_date
        %td= counselor.user.name
        %td= number_to_currency(counselor.hourly_rate_in_dollars)
        %td= link_to 'View Profile', counselor
