.container-fluid
  .row
    .col-md-6
      %h1= @counselor.user.name

      %p
        = counselor_url(@counselor)
      %p
        %h3 Professional Biography
        = best_in_place @counselor, :bio, :type => :textarea
      
      %hr

      %p
        %b Photo:
        = @counselor.photo
      %p
        %b Profession start date:
        = @counselor.years_in_business
      %p
        %b User:
        = @counselor.user_id
      %p
        %b Hourly rate in cents:
        = number_to_currency(@counselor.hourly_rate_in_dollars)

    .col-md-6
      %h2 Availability

      = link_to "Edit Availability", availability_counselor_path(@counselor)

      %hr
      %h3
        Today
      .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
        7:00pm
      .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
        7:30pm
      .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
        8:00pm
      .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
        8:30pm

      %h3
        Tomorrow
      .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
        7:00pm
      .btn.btn-primary.disabled
        7:30pm
      .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
        8:00pm
      .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
        8:30pm

  / Modal
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
            %span.sr-only Close
          %h4#myModalLabel.modal-title Modal title
        .modal-body
          = simple_form_for(@counselor.counseling_sessions.new) do |f|
            = f.error_notification

            .form-inputs
              = f.input :day, as: :string, input_html: { :class => "form-control" }
              = f.input :time, as: :string, input_html: { :class => "form-control" }

            .form-actions
              = f.submit "Update Profile", :class => "btn btn-primary btn-block"

  = link_to 'Edit', edit_counselor_path(@counselor)
  |
  = link_to 'Back', counselors_path
