/ = render "layouts/alerts"
- availabilities   = @counselor.availability_by_dts(@dts.in_time_zone)

.container
  .row
    .col-md-6

      .counselor_professional_overview_wrapper
        - unless @counselor.is_active
          .alert.alert-warning
            This profile is not currently active.
          %br
        = render partial: "shared/counselors/preview", locals: {counselor: @counselor}
        
        - if @counselor.next_available.present?
          - nextAvailable = @counselor.next_available
          %hr
          .text-center
            .btn.btn-primary.counselor-time-button{:data => { :target => "#next_available",:toggle => "modal", :time => nextAvailable.in_time_zone.strftime("%I:%M%P"), :available => "#{@counselor.is_available_at(nextAvailable + 30.minutes)}", :session_rate => "#{@counselor.session_rate_in_dollars}"}}
              Book Next Available

            Begins in
            = distance_of_time_in_words(Time.now.utc, nextAvailable)

            = @counselor.availability_days

            = render partial: "shared/counselors/modal_scheduler", locals: {counselor: @counselor, target_id: "next_available", dts: nextAvailable.in_time_zone}

        %hr

        .counselor_professional_bio_wrapper
          %h3.counselor_professional_bio_title
            Professional Biography
          %p.counselor_professional_bio
            = @counselor.bio.gsub(/\n/, '<br/>').html_safe

        %hr

        .counselor_professional_experience_wrapper
          %h3.counselor_professional_experience_title
            Professional Experience
          %p.counselor_professional_experience
            %ul
              %li
                Began Counseling in 
                = @counselor.profession_start_date
              %li
                Joined MoodyCall in
                = @counselor.user.created_at.strftime("%Y")
        
        %hr

        = render "counselors/public_licenses"

        %br

        = render "counselors/public_education"

        %br

        = render "counselors/public_certifications"

        %br

      %hr

      = render "ratings/listing"

    .col-md-6
      .counselor_availability_wrapper
        %h2.counselor_availability_title.text-center
          Schedule a Session

        = form_tag counselor_path, :id => "counselor_dts_change_form", method: :get do |f|
          .row
            .col-sm-1
              .trigger_calendar_picker
                .fa.fa-calendar-o.fa-2x
            .col-sm-6
              #dialog
              = text_field_tag :datetime, @dts.strftime("%m/%d/%Y"), :class => "form-control", :input_html => { :class => "form-control"}
            .col-sm-5
              = submit_tag "Change Date", :class => "btn btn-primary btn-dark btn-lg btn-block"

        %hr

        = render "availability_day", :dts => (@dts).in_time_zone, :availabilities => availabilities
        = render "availability_day", :dts => (@dts + 1.day).in_time_zone, :availabilities => ""
        = render "availability_day", :dts => (@dts + 2.day).in_time_zone, :availabilities => ""

:javascript

  // Get unique available dates of counselor
  //var disableddates = #{@counselor.unique_available_days()};
  
  // Dissable and change color of unavailable dates
  $( "#datetime" ).datepicker({

    beforeShowDay: function(date) {

      var string = jQuery.datepicker.formatDate('dd-mm-yy', date);
      
      if (disableddates.indexOf(string) != -1) {
          return [true, 'availableDates'];
      }
      return [false, 'unavailableDates'];
    },
    onSelect: function() {
        $("#counselor_dts_change_form").submit();
    }
  });

  $("#dialog").text("No availability");
  
  var dlg = $('#dialog').dialog({
    autoOpen: false,
    draggable: false,
    resizable: false,
    width: 50,
    height: 40
  });

  $("#ui-datepicker-div").on("mouseover",".unavailableDates",function() {
    dlg.dialog("option", "position", {
      my: "left top",
      at: "right bottom",
      of: event,
      offset: "20 20"
    });
    dlg.dialog("open");
  }).mousemove(function(event) {
      
  }).mouseout(function() {
    dlg.dialog("close");
  });