.container
  .row
    .col-md-6
      .row
        .col-sm-3
          = image_tag @counselor.user.photo
        .col-sm-9

          %h1= @counselor.user.name

          %p.text-muted
            %em
              Joined #{distance_of_time_in_words(Time.now, @counselor.user.created_at)} ago

          .counselor_pubic_rating
            %input.star{:name => "start_one", :type => "radio", :disabled => :disabled}
            %input.star{:name => "start_one", :type => "radio", :disabled => :disabled}
            %input.star{:name => "start_one", :type => "radio", :disabled => :disabled}
            %input.star{:name => "start_one", :type => "radio", :disabled => :disabled}
            %input.star{:name => "start_one", :type => "radio", :disabled => :disabled}
            .text-muted
              (#{@counselor.ratings.count})
          %br

          = link_to favorite_counselors_path(:counselor => @counselor), :method => :post do
            %i.icon-heart
            Favorite

      %p
        = counselor_url(@counselor)
      %p
        %h3 Professional Biography
        = best_in_place @counselor, :bio, :type => :textarea
      
      %hr

      .row
        .col-md-6
          %h4
            Licensed In
        .col-md-6
          %h4
            Education
        .col-md-6
          %h4
            Certications

      / %p
      /   %b Hourly rate in cents:
      /   = number_to_currency(@counselor.hourly_rate_in_dollars)

    .col-md-6
      %h2 Availability

      - if current_user and current_user.counselor == @counselor
        = link_to "Edit Availability", availability_counselor_path(@counselor)

      %hr
      %h3
        Today
      .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
        7:00pm
      .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
        7:30pm
      .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
        8:00pm
      .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
        8:30pm

      %h3
        Tomorrow
      .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
        7:00pm
      .btn.btn-primary.disabled
        7:30pm
      .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
        8:00pm
      .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
        8:30pm

  / Modal
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
            %span.sr-only Close
          %h4#myModalLabel.modal-title Modal title
        .modal-body
          = simple_form_for(@counselor.counseling_sessions.new) do |f|
            = f.error_notification

            .form-inputs
              = f.hidden_field :counselor_id, :value => @counselor.id
              = f.input :day, collection: (Date.today..1.month.from_now).map{ |date| date.strftime("%B %d, %Y") }, input_html: { :class => "form-control" }, :include_blank => false
              = f.input :time, as: :string, input_html: { :class => "form-control time" }

            .form-actions
              = f.submit "Update Profile", :class => "btn btn-primary btn-block"

:javascript
  $('.star:nth-child(#{@counselor.public_rating})').attr("checked", "checked");