.container
  .row
    .col-md-6

      = render partial: "shared/counselors/preview", locals: {counselor: @counselor}

      .counselor_professional_bio_wrapper
        %h3.counselor_professional_bio_title
          Professional Biography
        %p.counselor_professional_bio
          = best_in_place @counselor, :bio, :type => :textarea

      %hr

      .counselor_professional_experience_wrapper
        %h3.counselor_professional_experience_title
          Professional Experience
        %p.counselor_professional_experience
          %ul
            %li
              = distance_of_time_in_words(Time.now, @counselor.profession_start_date, include_seconds: false)
              Experience
            %li
              Joined MoodyCall
              = distance_of_time_in_words(Time.now, @counselor.user.created_at, include_seconds: false)
              ago
      
      %hr

      .row
        .col-md-6
          %h4
            Licensed In
        .col-md-6
          %h4
            Education
        .col-md-6
          %h4
            Certications

      %hr

      .counselor_comments_wrapper
        %h3.counselor_comments_title
          Reviews
        .row
          - @counselor.ratings.each do |rating|
            = rating.comment

      / %p
      /   %b Hourly rate in cents:
      /   = number_to_currency(@counselor.hourly_rate_in_dollars)

      / %p
      /   = counselor_url(@counselor)

    .col-md-6
      .counselor_availability_wrapper
        %h2.counselor_availability_title.text-center
          Schedule a Session

        - if current_user and current_user.counselor == @counselor
          .text-center
            = link_to "Edit Availability", availability_counselor_path(@counselor)

        %hr
        %h3
          Today
        .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
          7:00pm
        .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
          7:30pm
        .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
          8:00pm
        .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
          8:30pm

        %h3
          Tomorrow
        .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
          7:00pm
        .btn.btn-primary.disabled
          7:30pm
        .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
          8:00pm
        .btn.btn-primary{"data-toggle" => "modal", "data-target" => "#myModal"}
          8:30pm

  / Modal
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
            %span.sr-only Close
          %h4#myModalLabel.modal-title Schedule a Session
        .modal-body
          = simple_form_for(@counselor.counseling_sessions.new) do |f|
            = f.error_notification

            .form-inputs
              = f.hidden_field :counselor_id, :value => @counselor.id
              = f.input :day, collection: (Date.today..1.month.from_now).map{ |date| date.strftime("%B %d, %Y") }, input_html: { :class => "form-control" }, :include_blank => false
              = f.input :time, as: :string, input_html: { :class => "form-control time" }

            .form-actions
              = f.submit "Update Profile", :class => "btn btn-primary btn-block"

:javascript
  $('.star:nth-child(#{@counselor.public_rating})').attr("checked", "checked");