/ = render "layouts/alerts"
- availabilities   = @counselor.availability_by_dts(@dts)

.container
  .row
    .col-md-6

      -# = raise "#{@counselor.availability_intervals.all_availabilities(Time.now)}"

      .counselor_professional_overview_wrapper
        - unless @counselor.is_active
          .alert.alert-warning
            This profile is not currently active.
          %br
        = render partial: "shared/counselors/preview", locals: {counselor: @counselor}

        - if @counselor.next_available.present?
          %hr
          .text-center
            .btn.btn-primary.counselor-time-button{:data => { :target => "#next_available",:toggle => "modal", :time => Time.parse(@counselor.next_available.strftime("%I:%M%P")).in_time_zone.strftime("%I:%M%P"), :available => availabilities.include?(@counselor.next_available + 30.minutes), :session_rate => "#{@counselor.session_rate_in_dollars}"}}
              Book Next Available

            Begins in
            = distance_of_time_in_words(Time.now, @counselor.next_available)

            = render partial: "shared/counselors/modal_scheduler", locals: {counselor: @counselor, target_id: "next_available", dts: @counselor.next_available, :availabilities => availabilities}

        %hr

        .counselor_professional_bio_wrapper
          %h3.counselor_professional_bio_title
            Professional Biography
          %p.counselor_professional_bio
            = @counselor.bio.gsub(/\n/, '<br/>').html_safe

        %hr

        .counselor_professional_experience_wrapper
          %h3.counselor_professional_experience_title
            Professional Experience
          %p.counselor_professional_experience
            %ul
              %li
                Began Counseling in 
                = @counselor.profession_start_date
              %li
                Joined MoodyCall in
                = @counselor.user.created_at.strftime("%Y")
        
        %hr

        = render "counselors/public_licenses"

        %br

        = render "counselors/public_education"

        %br

        = render "counselors/public_certifications"

        %br

      %hr

      = render "ratings/listing"

    .col-md-6
      .counselor_availability_wrapper
        %h2.counselor_availability_title.text-center
          Schedule a Session

        = form_tag counselor_path, :id => "counselor_dts_change_form", method: :get do |f|
          .row
            .col-sm-1
              .trigger_calendar_picker
                .fa.fa-calendar-o.fa-2x
            .col-sm-6
              = text_field_tag :datetime, @dts.strftime("%m/%d/%Y"), :class => "form-control", :input_html => { :class => "form-control"}
            .col-sm-5
              = submit_tag "Change Date", :class => "btn btn-primary btn-dark btn-lg btn-block"

        %hr

        = render "availability_day", :dts => (@dts).in_time_zone
        = render "availability_day", :dts => (@dts + 1.day).in_time_zone
        = render "availability_day", :dts => (@dts + 2.day).in_time_zone
