.container
  %h1 Upcoming Payouts
  .row
    .col-md-8
      .table-responsive
        %table.table
          %thead
            %tr
              %th User
              %th Stripe recipient ID
              %th.text-right Sessions
              %th.text-right Total
              %th
              
          %tbody
            - @payouts.each do |payout|
              %tr
                %td= payout.user.name
                %td
                  - if payout.user.stripe_recipient_id.present?
                    = payout.user.stripe_recipient_id
                  - else 
                    %em.text-muted
                      Banking Info Required
                %td.text-right= payout.counseling_sessions.count
                %td.text-right= number_to_currency(payout.total_in_dollars)
                %td.text-right
                  = link_to 'Show', payout, :class => "btn btn-default btn-sm"
                  / = link_to 'Edit', edit_payout_path(payout)

          %tfooter
            %th
            %th
            %th.text-right
              Totals
            %th.text-right
              = @payouts.total_sessions_payable
            %th.text-right
              = number_to_currency(@payouts.total_funds_payable_in_dollars)
            %th
                  
    .col-md-4
      = render "counselors/navigation"
      .clearfix
      %h2 Bank Details

      .well
        %p
          Enter account information to send fund to a different bank account.
        = simple_form_for(@counselor, url: update_bank_counselor_path(@counselor), html: { method: :put, :id => "bank_details_wrapper" }) do |f|
          .payment-errors.alert.alert-danger.hidden-default
          %br
          #bank_details_wrapper
            .form-group.hidden-default
              %input.form-control.floatlabel.country{:placeholder => "Country Code", :value => "US"}
            .form-group
              %input.form-control.floatlabel.routing-number{:placeholder => "Routing Number"}
            .form-group
              %input.form-control.floatlabel.account-number{:placeholder => "Account Number"}
          = submit_tag "Submit Bank Credentials", :class => "btn btn-primary btn-block btn-lg"

:javascript
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey("#{Rails.configuration.stripe[:publishable_key]}");

  var stripeResponseHandler = function(status, response) {
      var $form = $('#bank_details_wrapper');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').slideDown().text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };

    jQuery(function($) {
      $('#bank_details_wrapper').submit(function(e) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.bankAccount.createToken({
          country: $('.country').val(),
          routingNumber: $('.routing-number').val(),
          accountNumber: $('.account-number').val()
        }, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });