#main.container
  %h1 All Counseling Sessions

  %table.table
    %thead
      %tr
        %th ID
        %th Start datetime
        %th Estimate duration in minutes
        %th Client
        %th Counselor
        %th Price
        
    %tbody
      - @counseling_sessions.each do |counseling_session|
        %tr
          %td= counseling_session.secure_id
          %td= counseling_session.start_datetime.in_time_zone.strftime("%b %e, %Y %I:%M%P")
          %td= counseling_session.estimate_duration_in_minutes
          %td= counseling_session.client.name
          %td= counseling_session.counselor.user.name
          %td= number_to_currency(counseling_session.price_in_cents * 0.01)

  %br

  / = link_to 'New Counseling session', new_counseling_session_path
