.container
  %h1 Payment Information

  .row
    .col-md-6
      %h3 Credit Cards

      %table.table
        %thead
          %tr
            %th Name
            %th Last Digits
            %th
            
        %tbody
          - @credit_cards.each do |credit_card|
            %tr
              %td= credit_card.name
              %td= credit_card.last_four
              %td= link_to 'Remove', deactivate_credit_card_path(credit_card), :data => { :confirm => 'Are you sure?' }

      - if @credit_cards.count > 0
        .text-right
          = link_to 'Replace Credit Card', new_credit_card_path, :class => "btn btn-link btn-sm"
      - else
        .text-center
          = link_to 'New Credit Card', new_credit_card_path, :class => "btn btn-primary"


    .col-md-6
      %h3 Payment History
