= simple_form_for([@counseling_session, @rating]) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :stars

    #rating_stars
      %input.star{:type => "radio"}
      %input.star{:type => "radio"}
      %input.star{:type => "radio"}
      %input.star{:type => "radio"}
      %input.star{:type => "radio"}

    %br

    = f.input :comment

  .form-actions
    = f.submit "Submit Rating", :class => "btn btn-primary"

