.counselor_comments_wrapper
  %h3.counselor_comments_title
    Reviews

  - @counselor.ratings.where.not(:comment => "", :counseling_session => nil).each do |rating|
    .rating_wrapper
      = rating.comment
      .rating_star_wrapper 
        .fa.fa-lg{ :class => "#{rating.stars.to_i >= 1 ? 'fa-star' : 'fa-star-o'}"}
        .fa.fa-lg{ :class => "#{rating.stars.to_i >= 2 ? 'fa-star' : 'fa-star-o'}"}
        .fa.fa-lg{ :class => "#{rating.stars.to_i >= 3 ? 'fa-star' : 'fa-star-o'}"}
        .fa.fa-lg{ :class => "#{rating.stars.to_i >= 4 ? 'fa-star' : 'fa-star-o'}"}
        .fa.fa-lg{ :class => "#{rating.stars.to_i >= 5 ? 'fa-star' : 'fa-star-o'}"}
      -# .rating_date_wrapper.small.text-muted
      -#   = rating.counseling_session.start_datetime.strftime("%b %e, %Y")
