= simple_form_for(@specialty) do |f|
	= f.error_notification
	.form-inputs
		.form-group
			= f.input :name, input_html: { :class => "form-control floatlabel" }, :placeholder => "Name", :label => false
		.form-group
			= f.check_box :is_active, :class => "boolean-switch", :label => false
	.form-actions
		= f.submit "Create Specialty", :class => "btn btn-primary btn-lg btn-block"
