.container
  %h1 Specialties

  .row
    .col-md-9
      %table.table
        %thead
          %tr
            %th Name
            %th.text-center Status
            %th.text-right Counselors
            %th
            
        %tbody
          - @specialties.each do |specialty|
            %tr
              %td= specialty.name
              %td.text-center
                .fa.fa-lg{ :class => "#{specialty.is_active ? "fa-eye" : "fa-eye-slash"}"}
              %td.text-right= specialty.counselors.count
              %td
                .btn-group.pull-right
                  = link_to 'Edit', edit_specialty_path(specialty), :class => "btn btn-default btn-sm"
    .col-md-3
      .well
        %h3
          New Specialty
        = render 'form'
    .col-md-3
      .well
        %h3
          Default Specialty
        - spcl =  Specialty.where(:is_active => true, :set_default => 1).first.id
        = form_tag([:setDefault, @specialty]) do
          = select_tag :id, options_from_collection_for_select(Specialty.where(:is_active => true).order(:name => :asc), :id, :name, spcl), :class => "form-control", :label => false, :include_blank => false
          = hidden_field_tag :set_default, 1
          .form-actions
            = submit_tag "Save", :class => "btn btn-primary btn-block btn-lg"