.list-group
  = link_to upcoming_payouts_path, :class => "list-group-item #{"active" if @tab_name == "upcoming"}" do
    .fa.fa-clock-o
    Upcoming Payouts
  = link_to payouts_path, :class => "list-group-item #{"active" if @tab_name == "index"}" do
    .fa.fa-book
    All Payouts

.text-center
  = link_to new_payout_path, :class => "btn btn-link" do
    .fa.fa-plus
    New Payout

