.container#counselor-container

  %h1
    All Counselors

  .table-responsive
    %table.table#counselor-table
      %thead
        %tr
          %th
          %th
          %th{ :name => "last_name"} Name
          %th{ :name => "is_active"} Active
          %th{ :name => "email"} Email
          %th{ :name => "phone"} Phone
          %th{ :name => "created_at"} Date Created
          %th{ :name => "popularity"} Public Rating
          %th.text-right{ :name => "session_rate_in_dollars"} Session Rate
          %th.text-right{ :name => "session_fee_in_dollars"} Session Fee
          %th.text-right{ :name => "counseling_sessions_count"} Total Sessions
          %th.text-right{ :name => "payable_sessions_count"} Payable Sessions
          %th.text-right{ :name => "payable_total_in_dollars"} Payable Total
          %th
          
      %tbody
        - @counselors.each_with_index do |counselor, index|
          %tr{ :class => "row_#{index}"}
            %td
              - if !counselor.is_active? and !counselor.counseling_sessions.present?
                %a{:onclick => "deleteCounselor(#{counselor.id});"}
                  .fa.fa-trash
            %td
              = link_to edit_counselor_url(counselor, :host => Rails.configuration.action_mailer.default_url_options[:host]) do
                .fa.fa-pencil
            %td
              = link_to counselor.user.name, counselor_url(counselor, :host => Rails.configuration.action_mailer.default_url_options[:host])
            %td
              - if counselor.is_active?
                .fa.fa-check-circle-o
            %td
              = counselor.user.email
            %td
              = counselor.phone
            %td
              = counselor.created_at.strftime("%B %e, %Y")
            %td
              = render "shared/counselors/public_rating", :counselor => counselor
            %td.text-right
              = number_to_currency(counselor.session_rate_in_dollars)
            %td.text-right
              = number_to_currency(counselor.session_fee_in_dollars)
            %td.text-right
              = counselor.counseling_sessions.count
            %td.text-right
              = counselor.payable_sessions.count
            %td.text-right
              = number_to_currency(counselor.payable_total_in_dollars)
            %td
              %span.toggle_trigger{ :href => "", :data => { :toggleable => ".row_collapsible_#{index}"} }
                .fa.fa-info-circle.text-muted
          %tr.secondary_collapsible_row{ :class => "row_collapsible_#{index}"}
            %td{ :colspan => 11 }
              %strong
                Stripe Transfer ID
              = counselor.user.stripe_recipient_id
  
  = will_paginate @counselors, previous_label: h("<"), next_label: h(">")
  = hidden_field_tag "url", getCounselors_admin_counselor_overviews_path
  = hidden_field_tag "deleteUrl", deleteCounselors_admin_counselor_overviews_path

:javascript
  
  $('.toggle_trigger').click(function(){
    toggleable_class = $(this).attr('data-toggleable');
    $(toggleable_class).fadeToggle();
  });

  $('#main').find('.pagination a').click(function(e){
    e.preventDefault();
    $('#loader').show();
    var page = $(this).attr('href');
    page = page.split("=");
    page = page[1];
    
    var atribute = $('#main').find('.defaultSort').attr('name');

    if ($('#main').find('.defaultSort').hasClass('sortby') == true){
      var order = "ASC";
    }
    else{
      var order = "DESC";
    }

    paginateAjax(page,atribute,order);

    setTimeout(function(){
      $('#loader').hide();
    },1000);
  });

  $("#main").find('.container th').click(function(){
    $('#loader').show();
    var page = $('#main').find('.pagination .current').text();

    $(this).toggleClass('sortby');
    atribute = $(this).attr('name');

    if ($(this).hasClass('sortby') == true){
      order = "ASC";
    }
    else{
      order = "DESC";
    }

    paginateAjax(page,atribute,order);

    setTimeout(function(){
      $('#loader').hide();
    },1000);
  });