.container

  %h1
    All Counselors

  .table-responsive
    %table.table
      %thead
        %tr
          %th
          %th Name
          %th Public Rating
          %th.text-right Session Rate
          %th.text-right Session Fee
          %th.text-right Total Sessions
          %th.text-right Payable Sessions
          %th.text-right Payable Total
          %th
          
      %tbody
        - @counselors.each_with_index do |counselor, index|
          %tr{ :class => "row_#{index}"}
            %td
              = link_to edit_counselor_url(counselor) do
                .fa.fa-pencil
            %td
              = link_to counselor.user.name, counselor_url(counselor, :host => Rails.configuration.action_mailer.default_url_options[:host])
            %td
              = render "shared/counselors/public_rating", :counselor => counselor
            %td.text-right
              = number_to_currency(counselor.session_rate_in_dollars)
            %td.text-right
              = number_to_currency(counselor.session_fee_in_dollars)
            %td.text-right
              = counselor.counseling_sessions.count
            %td.text-right
              = counselor.payable_sessions.count
            %td.text-right
              = number_to_currency(counselor.payable_total_in_dollars)
            %td
              %span.toggle_trigger{ :href => "", :data => { :toggleable => ".row_collapsible_#{index}"} }
                .fa.fa-info-circle.text-muted
          %tr.secondary_collapsible_row{ :class => "row_collapsible_#{index}"}
            %td{ :colspan => 9 }
              %strong
                Stripe Transfer ID
              = counselor.user.stripe_recipient_id
  
  = will_paginate @counselors, previous_label: h("<"), next_label: h(">")

:javascript
  $('#counselor_search').show()