.counselor_preview_wrapper
  .row
    .col-sm-5
      .counselor_image_wrapper
        -if counselor.photo.present?
          = image_tag counselor.photo_url(:medium), :class => "counselor_image"
        -else
          = image_tag "default-avatar.png", :class => "counselor_image"
    .col-sm-7

      .counselor_name_wrapper
        %h1.counselor_name
          = counselor.user.name

      .counselor_specialties_wrapper
        = render "shared/counselors/specialty_listing", :counselor => counselor

      = render "shared/counselors/public_rating", :counselor => counselor

      = render "shared/counselors/favorite_button", :counselor => counselor

      = "#{@counselor.profile_view} profile views"