.counselor_preview_wrapper.preview_with_schedule
  .row
    .col-sm-2
      .counselor_image_wrapper
        = link_to counselor_path(counselor) do
          -if counselor.photo.present?
            = image_tag counselor.photo_url(:medium), :class => "counselor_image"
          -else
            = image_tag "default-avatar.png", :class => "counselor_image"
          / = image_tag counselor.user.photo
    .col-sm-10

      - if current_user.present?
        .counselor_favorite_wrapper.pull-right
          = link_to favorite_counselors_path(:counselor => counselor), :method => :post do
            %span{ :class => "#{ "favorited" if counselor.is_user_favorite(current_user.id) == true}"}
              .fa.fa-heart
              Favorite

      .counselor_name_wrapper
        = link_to counselor_path(counselor) do
          %h2.counselor_name
            = counselor.user.name

      .counselor_specialties_wrapper
        = raw counselor.specialties.map {|specialty| link_to specialty.name, "", :class => "counselor_specialty"}.join(" ")

      = render "shared/counselors/public_rating", :counselor => counselor

      .counselor_availability_preview_wrapper
        - if counselor.availability_by_dts(@dts).count > 0
          - counselor.availability_by_dts(@dts).take(5).each do |interval|
            .col-xs-4.col-sm-2
              .btn.btn-primary.btn-block.counselor-time-button{"data-toggle" => "modal", "data-target" => "##{counselor.slug}ScheduleModal", "data-time" => "#{time_as_local(interval)}"}
                = time_as_local(interval)
        - else
          .col-xs-5.col-sm-3
            .btn.btn-primary.btn-block{ :disabled => :disabled } 
              No Availability
        .col-xs-4.col-sm-2
          = link_to counselor_path(counselor, :datetime => @dts), :class => "btn btn-link" do
            .fa.fa-search-plus
            View Profile

%hr
