- @modal_target_id = "#{counselor.slug}ScheduleModal#{iterator}"
- availabilities   = counselor.availability_by_dts(dates)

.counselor_preview_wrapper.preview_with_schedule{ :data => {:gender => counselor.user.gender}}
  .row
    .col-sm-2
      .counselor_image_wrapper
        = link_to counselor_path(counselor) do
          -if counselor.photo.present?
            = image_tag "default-avatar.png", :class => "counselor_image"
          -else
            = image_tag "default-avatar.png", :class => "counselor_image"
          / = image_tag counselor.user.photo
    .col-sm-10

      - if current_user.present?
        .pull-right
          = render "shared/counselors/favorite_button", :counselor => counselor

      .counselor_name_wrapper
        = link_to counselor_path(counselor) do
          %h2.counselor_name
            = counselor.user.name
            %br.visible-xs
            %span.small.text-muted
              View Profile

      .counselor_specialties_wrapper
        = render "shared/counselors/specialty_listing", :counselor => counselor

      = render "shared/counselors/public_rating", :counselor => counselor

      .counselor_availability_preview_wrapper
        - if availabilities.length > 0
          - availabilities.first(5).each do |interval|
            .col-xs-4.col-sm-2
              .btn.btn-primary.btn-block.counselor-time-button{ :data => { :toggle => "modal", :target => "##{@modal_target_id}", :time => interval.in_time_zone.strftime("%I:%M%P"), :available => "#{availabilities.include?(interval + 30.minutes)}", :session_rate => "#{counselor.session_rate_in_dollars}"}}
                = interval.in_time_zone.strftime("%I:%M%P")
        - else
          .col-xs-5.col-sm-3
            .btn.btn-primary.btn-block{ :disabled => :disabled } 
              No Availability
        .col-xs-4.col-sm-2
          = link_to counselor_path(counselor, :datetime => Time.zone.now.strftime("%m/%d/%Y")), :class => "btn btn-link" do
            .fa.fa-search-plus
            More

-# = time_as_local(counselor.next_available)

%hr

= render partial: "shared/counselors/modal_scheduler", locals: {counselor: counselor, target_id: @modal_target_id, dts: dates, :availabilities => availabilities}
