.counselor_preview_wrapper
  .row
    .col-sm-5
      .counselor_image_wrapper
        -if counselor.photo.present?
          = image_tag counselor.photo_url(:medium), :class => "counselor_image"
        -else
          = image_tag "default-avatar.png", :class => "counselor_image"
    .col-sm-7

      .counselor_name_wrapper
        %h1.counselor_name
          = counselor.user.name

      .counselor_specialties_wrapper
        = raw counselor.specialties.map {|specialty| link_to specialty.name, "", :class => "counselor_specialty"}.join(" ")

      = render "shared/counselors/public_rating", :counselor => counselor

      .counselor_favorite_wrapper
        = link_to favorite_counselors_path(:counselor => counselor), :method => :post, :class => ("#{ "favorited" if counselor.is_user_favorite(current_user.id) == true}" if current_user and current_user.favorite_counselors.where(:counselor_id => counselor.id)) do
          .fa.fa-heart
          Favorite
