.counselor_pubic_rating_wrapper 
  .fa.fa-lg{ :class => "#{counselor.public_rating.to_i >= 1 ? 'fa-star' : 'fa-star-o'}"}
  .fa.fa-lg{ :class => "#{counselor.public_rating.to_i >= 2 ? 'fa-star' : 'fa-star-o'}"}
  .fa.fa-lg{ :class => "#{counselor.public_rating.to_i >= 3 ? 'fa-star' : 'fa-star-o'}"}
  .fa.fa-lg{ :class => "#{counselor.public_rating.to_i >= 4 ? 'fa-star' : 'fa-star-o'}"}
  .fa.fa-lg{ :class => "#{counselor.public_rating.to_i >= 5 ? 'fa-star' : 'fa-star-o'}"}
  -# %input.star{:name => "counselor_star_#{counselor.id}", :type => "radio", :disabled => :disabled}
  -# %input.star{:name => "counselor_star_#{counselor.id}", :type => "radio", :disabled => :disabled}
  -# %input.star{:name => "counselor_star_#{counselor.id}", :type => "radio", :disabled => :disabled}
  -# %input.star{:name => "counselor_star_#{counselor.id}", :type => "radio", :disabled => :disabled}
  -# %input.star{:name => "counselor_star_#{counselor.id}", :type => "radio", :disabled => :disabled}
  %span.counselor_ratings_total.text-muted
    (#{counselor.ratings.count})

:javascript
  $('.star:nth-child(#{counselor.public_rating})').attr("checked", "checked");