%footer.footer
  .container
    .row
      .col-sm-4
        %h3
          MoodyCall
        %p
          MoodyCall is the fastest way to schedule a session with the right counselor to meet your personal needs.
      .col-sm-4
        %h3
          Engage
        %ul.list-unstyled
          %li
            = link_to 'Become a Counselor', new_counselor_path
          %li
            = link_to 'Share with a Friend', ""
          %li
            = link_to 'Schedule a Session', root_url
      .col-sm-4
        %h3
          Support
        %ul.list-unstyled
          %li
            = link_to "Terms", "http://media.wix.com/ugd/2e729f_89c3b9914f2b4174ba38c7964dc50db5.pdf", :id => "footerTerms", :target => "_blank"
          %li
            = link_to "Counselor Terms", "http://media.wix.com/ugd/2e729f_ffef169f1e0b45bbba9c33f26f90bad4.pdf", :id => "footerTerms", :target => "_blank"
          %li
            = link_to "Privacy Policy", "http://media.wix.com/ugd/2e729f_077cf22871e442a191fe0f2eb3e322f3.pdf", :id => "footerPrivacy", :target => "_blank"
          %li
            = link_to "FAQ", "http://www.moodycall.org/#!user-faq/ck5b", :id => "footerPrivacy", :target => "_blank"
          %li
            = link_to "1.555.1234", "tel:15551234", :id => "footer_telephone"
          %li
            = link_to "support@moodycall.com", "", :id => "footer_email"
          %li
            = link_to "http://www.facebook.com/moodycall", :target => "_blank" do
              .fa.fa-facebook

            = link_to "http://www.twitter.com/moodycall", :target => "_blank" do
              .fa.fa-twitter

            = link_to "http://pinterest.com/moodycallshop", :target => "_blank" do
              .fa.fa-pinterest

            = link_to "http://vimeo.com/moodycall", :target => "_blank" do
              .fa.fa-vimeo

            = link_to "http://www.moodycall.org/feed.xml", :target => "_blank" do
              .fa.fa-rss

            = link_to "http://youtube.com/moodycall", :target => "_blank" do
              .fa.fa-youtube
%hr

.footer_disclaimer_wrapper
  %p.text-center.small
    Copyright MoodyCall LLC 2014 | PO Box 1112 Snellville, GA 30078
  %p.text-center.small
    If you are having thoughts of suicide or otherwise harming yourself, please call national crisis hotline 1 (800) 273-8255. If you are in need of emergency services, please call 911.


:javascript
  $("#footerTerms").click(function() {
    Intercom('trackEvent', 'viewed_terms');
  });

  $("#footerPrivacy").click(function() {
    Intercom('trackEvent', 'viewed_privacy_policy');
  });

  $("#footer_telephone").click(function() {
    Intercom('trackEvent', 'clicked_support_phone');
  });

  $("#footer_email").click(function() {
    Intercom('trackEvent', 'clicked_support_email');
  });
