%footer.footer
  .container
    .row
      .col-sm-4
        %h3
          MoodyCall
        %p
          MoodyCall is the fastest way to schedule a session with the right counselor to meet your personal needs.
      .col-sm-4
        %h3
          Engage
        %ul.list-unstyled
          %li
            = link_to 'Become a Counselor', new_counselor_path
          %li
            = link_to 'Share with a Friend', ""
          %li
            = link_to 'Schedule a Session', root_url
      .col-sm-4
        %h3
          Support
        %ul.list-unstyled
          %li
            = link_to "Terms", "", :id => "footerTerms"
          %li
            = link_to "Privacy", "", :id => "footerPrivacy"
          %li
            = link_to "1.555.1234", "", :id => "footer_telephone"
          %li
            = link_to "support@moodycall.com", "", :id => "footer_email"

:javascript
  $("#footerTerms").click(function() {
    Intercom('trackEvent', 'viewed_terms');
  });

  $("#footerPrivacy").click(function() {
    Intercom('trackEvent', 'viewed_privacy_policy');
  });

  $("#footer_telephone").click(function() {
    Intercom('trackEvent', 'clicked_support_phone');
  });

  $("#footer_email").click(function() {
    Intercom('trackEvent', 'clicked_support_email');
  });
