%footer.footer
  .container
    .row
      .col-sm-4
        %h3
          MoodyCall
        %p
          MoodyCall is the fastest way to schedule a session with the right counselor to meet your personal needs.
      .col-sm-4
        %h3
          Engage
        %ul.list-unstyled
          %li
            = link_to 'Become a Counselor', new_counselor_path
          %li
            = link_to 'Share with a Friend', ""
          %li
            = link_to 'Schedule a Session', root_url
      .col-sm-4
        %h3
          Support
        %ul.list-unstyled
          %li
            = link_to "Terms", "", :id => "footerTerms"
          %li
            = link_to "Privacy", "", :id => "footerPrivacy"
          %li
            = link_to "1.555.1234", "", :id => "footer_telephone"
          %li
            = link_to "support@moodycall.com", "", :id => "footer_email"
          %li
            = link_to "" do
              .fa.fa-twitter
            = link_to "" do
              .fa.fa-facebook
            = link_to "" do
              .fa.fa-instagram
            = link_to "" do
              .fa.fa-pinterest
            = link_to "" do
              .fa.fa-vimeo
            = link_to "" do
              .fa.fa-rss
            = link_to "" do
              .fa.fa-youtube
%hr

.footer_disclaimer_wrapper
  %p.text-center.small
    Copyright MoodyCall LLC 2014 | PO Box 1112 Snellville, GA 30078
  %p.text-center.small
    If you are having thoughts of suicide or otherwise harming yourself, please call national crisis hotline 1 (800) 273-8255. If you are in need of emergency services, please call 911.


:javascript
  $("#footerTerms").click(function() {
    Intercom('trackEvent', 'viewed_terms');
  });

  $("#footerPrivacy").click(function() {
    Intercom('trackEvent', 'viewed_privacy_policy');
  });

  $("#footer_telephone").click(function() {
    Intercom('trackEvent', 'clicked_support_phone');
  });

  $("#footer_email").click(function() {
    Intercom('trackEvent', 'clicked_support_email');
  });
