#counselor_search
  .container
    = form_tag counselors_path, method: :get do |f|
      .row
        .col-sm-3
          =  select_tag :specialty, options_from_collection_for_select(Specialty.order(:name => :asc).staffed_specialties, :name, :name, params[:specialty]), :class => "form-control", :label => false, :include_blank => false
        .col-sm-3
          = text_field_tag :datetime, @dts.strftime("%m/%d/%Y"), :class => "form-control"
        .col-sm-3
          = select_tag :gender, options_for_select([ "No Preference", "Male", "Female" ], params[:gender]), :class => "form-control"
        .col-sm-3
          = submit_tag "Search", :class => "btn btn-primary btn-dark btn-lg btn-block"

#counselor_search_toggle_wrapper.container
  #counselor_search_toggle
    .fa.fa-search
