%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to root_url(:subdomain => false) do
        =image_tag "logos/primary.png", :class => "navbar-brand hidden-special"
        =image_tag "logos/primary-white.png", :class => "navbar-brand visible-special"
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.time_zone_nav
        %li.dropdown
          %a.time_zone_hover_wrapper.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %span.time_zone_hover_icon
              .fa.fa-map-marker
            %span.time_zone_hover_time

              = Time.zone.now.strftime("%I:%M%P")

            %span.time_zone_hover_name
              = Time.zone.name
            %span.caret
          %ul.dropdown-menu.timezone_picker{:role => "menu"}
            %li.dropdown-header
              Select Your Timezone
            - ActiveSupport::TimeZone.us_zones.each do |zone|
              %li
                = link_to "#{Time.now.in_time_zone(zone.name).strftime("%I:%M%P")} in #{zone.name}", "", :class => "time_zone", "data-timezone" => zone.name
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Search', counselors_url(:datetime => Time.zone.now.strftime("%y-%m-%d"), :subdomain => false), :id => "primaryNavFavorites"
        - if user_signed_in?
          %li
            = link_to 'Dashboard', user_dashboard_url(:subdomain => false)
          %li
            = link_to 'Favorites', favorite_counselors_url(:subdomain => false), :id => "primaryNavFavorites"
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              .user_navigation_icon
                / - if current_user.photo.present?
                /   = image_tag current_user.photo_url(:thumb)
                / - else
                .fa.fa-user
            %ul.dropdown-menu{:role => "menu"}
              - if current_user.counselor.present?
                %li.dropdown-header
                  Counselor Options
                %li
                  = link_to counselor_url(current_user.counselor, :subdomain => false) do
                    .fa.fa-briefcase
                    Profile

                %li
                  = link_to availability_counselor_url(current_user.counselor, :subdomain => false) do
                    .fa.fa-calendar
                    Availability
                %li.divider
              %li
                = link_to credit_cards_url(:subdomain => false), :id => "primaryNavPayments" do
                  .fa.fa-credit-card
                  Payments
              %li
                = link_to edit_user_registration_url(:subdomain => false), :id => "primaryNavSettings" do
                  .fa.fa-cog
                  Settings
              %li.divider
              %li
                = link_to destroy_user_session_url(:subdomain => false), method: :delete do
                  .fa.fa-sign-out
                  Logout

          - if current_user and current_user.is_admin
            %li.dropdown
              %a.dropdown-toggle.admin-dropdown{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                .fa.fa-lock
              %ul.dropdown-menu.timezone_picker{:role => "menu"}
                %li.dropdown-header
                  Admin Options
                %li
                  = link_to specialties_url(:subdomain => "admin") do
                    .fa.fa-flag
                    Specialties
                %li
                  = link_to prompts_url(:subdomain => "admin") do
                    .fa.fa-comment
                    Prompts
                %li
                  = link_to admin_counselor_overviews_url(:subdomain => "admin") do
                    .fa.fa-briefcase
                    Counselors
                %li
                  = link_to admin_counseling_session_overviews_url(:subdomain => "admin") do
                    .fa.fa-laptop
                    Counseling Sessions
                %li
                  = link_to payouts_url(:subdomain => "admin") do
                    .fa.fa-money
                    Payouts

        - else
          %li
            = link_to "Login", new_user_session_url
          %li
            = link_to "Sign up", new_user_registration_url, :class => "btn btn-primary navbar-btn"
      / /ul.nav.navbar-right
    / /.navbar-collapse
  / /.container-fluid
/ /nav.navbar

:javascript
  $(".time_zone").click(function() {
    zone = $(this).attr("data-timezone");
    $.cookie("moodcall_timezone", zone, { path: '/' });
    var metaTimezone = {
      zone_name: zone
    };
    Intercom('trackEvent', 'changed_timezone', metaTimezone);
  });

  $("#primaryNavFavorites").click(function() {
    Intercom('trackEvent', 'viewed_favorites');
  });

  $("#primaryNavPayments").click(function() {
    Intercom('trackEvent', 'viewed_payments');
  });

  $("#primaryNavSettings").click(function() {
    Intercom('trackEvent', 'viewed_settings');
  });

