%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to "http://moodycall.org" do
        =image_tag "logos/primary.png", :class => "navbar-brand hidden-special"
        =image_tag "logos/primary-white.png", :class => "navbar-brand visible-special"
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.time_zone_nav
        %li.dropdown
          %a.time_zone_hover_wrapper.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %span.time_zone_hover_icon
              .fa.fa-map-marker
            %span.time_zone_hover_time

              = Time.zone.now.strftime("%I:%M%P")

            %span.time_zone_hover_name
              = Time.zone.name
            %span.caret
          %ul.dropdown-menu.timezone_picker{:role => "menu"}
            %li.dropdown-header
              Select Your Timezone
            - ActiveSupport::TimeZone.us_zones.each do |zone|
              %li
                = link_to "#{Time.now.in_time_zone(zone.name).strftime("%I:%M%P")} in #{zone.name}", "", :class => "time_zone", "data-timezone" => zone.name
      
      = render "layouts/nav_user"
      
:javascript
  $(".time_zone").click(function() {
    zone = $(this).attr("data-timezone");
    $.cookie("moodcall_timezone", zone, { path: '/' });
    var metaTimezone = {
      zone_name: zone
    };
    Intercom('trackEvent', 'changed_timezone', metaTimezone);
  });

  $("#primaryNavFavorites").click(function() {
    Intercom('trackEvent', 'viewed_favorites');
  });

  $("#primaryNavPayments").click(function() {
    Intercom('trackEvent', 'viewed_payments');
  });

  $("#primaryNavSettings").click(function() {
    Intercom('trackEvent', 'viewed_settings');
  });

