%ul.nav.navbar-nav.navbar-right
  
  - if user_signed_in? and (!current_user.is_counselor or current_user.counselor.present?)
    %li
      = link_to 'Search', counselors_url(:host => Rails.configuration.action_mailer.default_url_options[:host]), :id => "primaryNavSearch"
    %li
      = link_to 'Dashboard', user_dashboard_url(:host => Rails.configuration.action_mailer.default_url_options[:host],:q => "#{current_user.counselor ? 'counselor' : ''}")
    %li
      = link_to favorite_counselors_url(:host => Rails.configuration.action_mailer.default_url_options[:host]), :id => "primaryNavFavorites" do
        Favorites
    %li
      = link_to "http://moodycall.org/support", :id => "primaryNavHelp", :target => "_blank" do
        Help
    %li.dropdown
      %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        Hi 
        = current_user.first_name
      %ul.dropdown-menu{:role => "menu"}

        // COUNSELOR OPTIONS
        - if current_user.counselor.present?
          %li.dropdown-header
            Counselor Options
          %li
            = link_to counselor_url(current_user.counselor, :host => Rails.configuration.action_mailer.default_url_options[:host]) do
              .fa.fa-briefcase
              Profile
          %li
            = link_to edit_counselor_url(current_user.counselor, :host => Rails.configuration.action_mailer.default_url_options[:host]) do
              .fa.fa-pencil
              Edit Profile

          %li
            = link_to availability_counselor_url(current_user.counselor, :host => Rails.configuration.action_mailer.default_url_options[:host]) do
              .fa.fa-calendar
              My Availability
          %li
            = link_to payouts_counselor_url(current_user.counselor, :host => Rails.configuration.action_mailer.default_url_options[:host]) do
              .fa.fa-money
              Payouts
          %li.divider
        - if !current_user.is_counselor?
          %li
            = link_to credit_cards_url(:host => Rails.configuration.action_mailer.default_url_options[:host]), :id => "primaryNavPayments" do
              .fa.fa-credit-card
              Payments
        %li
          = link_to edit_user_registration_url(:host => Rails.configuration.action_mailer.default_url_options[:host]), :id => "primaryNavSettings" do
            .fa.fa-cog
            Settings
        %li.divider
        %li
          = link_to destroy_user_session_url(), method: :delete do
            .fa.fa-sign-out
            Logout

    // ADMIN OPTIONS
    - if current_user and current_user.is_admin
      %li.dropdown
        %a.dropdown-toggle.admin-dropdown{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .fa.fa-lg.fa-lock
        %ul.dropdown-menu.timezone_picker{:role => "menu"}
          %li.dropdown-header
            Admin Options
          %li
            = link_to specialties_url(:subdomain => "admin") do
              .fa.fa-flag
              Specialties
          %li
            = link_to prompts_url(:subdomain => "admin") do
              .fa.fa-comment
              Prompts
          %li
            = link_to admin_counselor_overviews_url(:subdomain => "admin") do
              .fa.fa-briefcase
              Counselors
          %li
            = link_to admin_counseling_session_overviews_url(:subdomain => "admin") do
              .fa.fa-laptop
              Counseling Sessions
          %li
            = link_to payouts_url(:subdomain => "admin") do
              .fa.fa-money
              Payouts

  - elsif !user_signed_in?
    %li
      = link_to "Login", new_user_session_url
    %li
      = link_to "Sign up", new_user_registration_url, :class => "btn btn-primary navbar-btn"
  - else
    %li
      = link_to destroy_user_session_url(), method: :delete do
        .fa.fa-sign-out
        Logout