!!!
%html
	%head
		%title Moodycall
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		= render "layouts/nav_primary"
		
		#counselor_search
			%ul.list-inline
				%li
					Schedule a Session
				%li
					%input{:placeholder => "Speciality"}
				%li
					%input{:placeholder => "Datetime"}
				%li
					.btn.btn-primary.btn-sm
						Search

		- if notice
			%p.notice= notice
		- if alert
			%p.alert= alert
		= yield
		%footer
			= link_to 'Become a Counselor', new_counselor_path
