!!!
%html
  %head
    = render "layouts/meta"
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
  %body
    = render "layouts/nav_primary"
    = render "layouts/nav_search" unless @hide_search == true
    
    #main
      = yield
    
    = render "layouts/footer"

    -# - if current_user and current_user.session_starting_soon(Time.zone.name)
    -#   - unless @counseling_session.present?
    -#     = js add_gritter("<br><div class='text-center'>#{link_to "Enter Session", counseling_session_path(current_user.session_starting_soon((Time.zone.name))), :class => "btn btn-primary btn-lg"}</div>", :title => "Your session with<br>#{current_user.session_starting_soon((Time.zone.name)).counselor.user.name}<br>starting now.", :sticky => true)
