!!!
%html
  %head
    %title Moodycall
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
  %body
    = render "layouts/nav_primary"
    = render "layouts/nav_search" unless @hide_search == true

    = render "layouts/alerts"
    
    = yield
    
    = render "layouts/footer"
